<table class="footer">
    <tbody>
    <tr>
        <td>
            <div class="footer-content">
                Created by
                <a href="https://github.com/AsheKR" class="footer-link" target="_blank">
                    AsheKR
                </a>
                <div>
                    <a href="" class="footer-link" target="_blank">
                        Unsubscribe
                    </a>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
